* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

containerpai {
    width: 100%;
    height: 100vh;
    background-color: #14151a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
    height: 90vh;
    background-color: rgba(255 255 255 / 0.10);
    border-radius: 32px;
    padding: 32px 20px;
}